@import '../../../vars'

// Main Desktop

.desktop
  height: 100vh
  width: 100vw
  position: relative
  background: #000
  background: url('https://s3-us-west-1.amazonaws.com/ejs-portfolio/backgrounds/BG1.jpg')
  background-size: cover

// Shortcuts

.shortcut
  width: 64px
  height: 128px
  position: absolute
  top: 0
  left: 0
  cursor: pointer
  user-drag: none
  user-select: none
  .shortcut-contents
    pointer-events: none
    text-align: center
    font-size: 0.8rem
    .shortcut-icon
      width: 100%

// Project Viewer

.project-viewer-grid
  display: grid
  grid-template-columns: 1fr 1fr

.project-viewer
  position: absolute
  width: 50vw
  border-radius: 4px
  top: 0
  left: 0
  background: #21252b
  border: 1px solid #000
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15)

.viewer-contents
  overflow-y: scroll
  height: 100%
  text-align: left
  background-color: #282c34
  padding: 1rem
  box-sizing: border-box
  border-radius: 4px
  h2
    font-weight: 900
    color: #d19a66
    border-bottom: 1px solid #295283
    margin-bottom: 0.5rem
    padding-bottom: 0.5rem
  h3
    border-bottom: 1px solid #295283
    margin-bottom: 0.5rem
    padding-bottom: 0.5rem
  p
    color: #fff
    margin: 0
    padding: 0

.viewer-controls
  padding: 10px
  cursor: grab
  border-bottom: 1px solid #000
  background: #21252b
  transition: background 0.5s
  &:hover
    background: darken(#21252b, 3%)
  h2
    display: inline-block
    padding: 0
    margin: 0
    font-family: $brand-font
    font-size: 1.3rem
    font-weight: normal
    user-select: none
    pointer-events: none
    user-drag: none

.btn
  float: right
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75)
  border-radius: 4px
  padding: 5px
  cursor: pointer
  width: 24px
  height: 24px
  box-sizing: border-box
  transition: background 0.5s
  svg
    width: 100%
    path
      transition: background 0.5s
      fill: #fff
  &:hover
    background: $brand-color
    svg
      path
        fill: #000

.viewer-toolbar
  box-sizing: border-box
  border-right: 1px solid #181a1f
  user-select: none
  user-drag: none
  ul
    list-style: none
    margin: 0
    padding: 0
    display: inline
    li
      display: block
      padding: 0 0 0.25rem 0
      border-bottom: 1px solid transparentize(#181a1f, 0.7)
      padding: 0.5rem
      img
        max-width: 42px

.tag
  color: #fff
  opacity: 0.2
  display: block
  span
    &:first-child
      color: #54b6c2
    &:last-child
      color: #54b6c2
